$btn: (
    border:0,
    border-radius:5px,
    padding: 15px 10px,
    background: $colorbtn,
    
);

button {
    border: map-get($btn , border);
    border-radius: map-get($btn , border-radius);
    padding: map-get($btn , padding);
    background-color: map-get($btn ,background);
    
    &:hover {
        background-color:#1266F1;
    }
}

.btn-primary {

    @extend button;
    border-radius: 5px;
    background-color: rgb(221, 31, 126); 
}


