.maindescargas {

    h1 {
        @include text-principales;
        
    }

    h2 {
        font-size: 30px;
        color: rgb(255, 0, 55);
        text-align: center;
        padding-top: 40px;
    }
}