$colorTextProduc: rgb(9, 80, 102);
$colorHoverProduc: rgb(201, 15, 83);
$colorbtn:rgb(58, 139, 119);



@import "reset";
@import "mixin";
@import "cardproductos";
@import "maindescargas";
@import "btn"; 




.navbar .navbar-nav .nav-link {
    color: #cee4d3;
    font-size: 1.4em;
}

.navbar .navbar-nav .nav-link:hover {
    color: #e70e65;
}

.footercolor footer {
    background-color: #e4eee8;

}

.navbar-light{
    background: linear-gradient(to right, #2338f5, #0b0127); 
}

.colorfondo{
    background: linear-gradient(to right, #2338f5, #0b0127);
}

.fa {
    padding: 10px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

.fa-facebook {

    color: white;
}

.fa-instagram {

    color: white;
}

.fa-whatsapp {

    color: white;
}


.redescontacto{
    padding-right: 21px;
}



