$colorTextProduc: rgb(9, 80, 102);
$colorHoverProduc: rgb(201, 15, 83);
$colorbtn:rgb(43, 230, 183);



@import "reset";
@import "mixin";
@import "cardproductos";
@import "maindescargas";
@import "btn"; 




.navbar .navbar-nav .nav-link:hover {
    color: #eee4e8;
}

.navbar .navbar-nav .nav-link {
    color: #15a3e6;
    font-size: 1.4em;
}

.footercolor footer {
    background-color: #eee4e8;

}



.navbar-light{
    background: linear-gradient(to right, #2338f5, #0b0127); 
}


.colorfondo{
    background: linear-gradient(to right, #2338f5, #0b0127);

}
