* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

main h1 {
  font-family: Roboto;
  font-size: 40px;
  font-weight: bold;
  font-color: aqua;
  text-align: center;
  color: #095066;
  margin: 20px; }

.card {
  background-color: black;
  color: #e4e412;
  text-align: center; }
  .card h5 {
    font-size: 22px;
    margin: 10px; }

.card-img-top {
  height: 300px; }

.card-body p {
  color: aqua; }

.maindescargas h1 {
  font-family: Roboto;
  font-size: 40px;
  font-weight: bold;
  font-color: aqua; }

.maindescargas p {
  font-size: 30px;
  color: #ff0037;
  text-align: center;
  padding-top: 40px; }

button, .btn-primary {
  border: 0;
  border-radius: 5px;
  padding: 15px 10px;
  background-color: #2be6b7; }
  button:hover, .btn-primary:hover {
    background-color: #1266F1; }

.btn-primary {
  border-radius: 5px;
  background-color: #dd1f7e; }
