* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

main h1 {
  font-family: Roboto;
  font-size: 40px;
  font-weight: bold;
  font-color: aqua;
  text-align: center;
  color: #095066;
  margin: 20px; }

.card {
  background-color: black;
  color: #e4e412;
  text-align: center; }
  .card h5 {
    font-size: 22px;
    margin: 10px; }

.card-img-top {
  height: 300px; }

.card-body p {
  color: aqua; }

.maindescargas h1 {
  font-family: Roboto;
  font-size: 40px;
  font-weight: bold;
  font-color: aqua; }

.maindescargas h2 {
  font-size: 30px;
  color: #ff0037;
  text-align: center;
  padding-top: 40px; }

button, .btn-primary {
  border: 0;
  border-radius: 5px;
  padding: 15px 10px;
  background-color: #2be6b7; }
  button:hover, .btn-primary:hover {
    background-color: #1266F1; }

.btn-primary {
  border-radius: 5px;
  background-color: #dd1f7e; }

.navbar .navbar-nav .nav-link:hover {
  color: #eee4e8; }

.navbar .navbar-nav .nav-link {
  color: #15a3e6;
  font-size: 1.4em; }

.footercolor footer {
  background-color: #eee4e8; }

.navbar-light {
  background: linear-gradient(to right, #2338f5, #0b0127); }

.colorfondo {
  background: linear-gradient(to right, #2338f5, #0b0127); }

.social {
  margin: 20px;
  margin-right: 5px; }

/* Extra centrado vertical*/
